.legend {
    font-family: 'avenir_85_heavyregular', sans-serif;
    font-size: 18px;
    line-height: normal;
    margin: 0 0 10px;
    padding-top: 5px;
}

.form-group {
    margin-bottom: 10px;
}

.visible-xs {
    display: none!important;
}

select.input-sm {
    height: 35px;
    line-height: 30px;
    width: auto;
}

.input-sm {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}