<div>
  <form [formGroup]="paymentForm">
    <div class="form-group" [ngClass]="{'has-error': !paymentForm.controls['NameCard'].valid && paymentForm.controls['NameCard'].touched}">
      <label>Name on Card</label>
      <input class="form-control" type="text" placeholder="John Krane" formControlName="NameCard" 
        required>
      <div *ngIf="paymentForm.controls['NameCard'].errors && paymentForm.controls['NameCard'].touched">
        <div class="alert alert-danger">Invalid Cardholder Name.</div>
      </div>
    </div>

    <div class="form-group" [ngClass]="{'has-error': !paymentForm.controls['CardNumber'].valid && paymentForm.controls['CardNumber'].touched}">
      <label>Card Number</label>
      <input class="form-control" type="text" placeholder="1234123412341234" formControlName="CardNumber" 
        required>
      <div *ngIf="paymentForm.controls['CardNumber'].errors && paymentForm.controls['CardNumber'].touched">
        <div class="alert alert-danger">Invalid Card Number.</div>
      </div>
    </div>

    <div class="form-group expiry">
      <label>Date of Expiration</label>
      <input onlyNumber="true" class="form-control month" type="text" placeholder="07" formControlName="Month" 
        maxlength="2">
      <input onlyNumber="true" class="form-control year" type="text" placeholder="2017" formControlName="Year" 
        maxlength="4">
    </div>

    <div class="form-group cvc">
      <label>CVV/CVC</label>
      <input onlyNumber="true" class="form-control" type="text" placeholder="123" formControlName="Cvv" 
        maxlength="3">
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary" (click)="submitForm()">Submit</button>
    </div>
    <h3 class="center-block text-center">{{ displayMessage }}</h3>
  </form>
</div>